<section class="intro">
  <div class="container">
    <p class="lead"> Hey There! I'm Jayesh. <br> I like to work with Artificial Neural Networks and Mathematics. Pardon my writing, I'm not that good at it, will
                     try to improve with time. Hopefully that reflects on my blogs ;) <br>
                     I'm also interested in Neuroscience and Neuroengineering.<br>
                     I'm from India and I love coffee. Sometimes I write what I do. <br>
      
      Thank you for stopping by!
    </p>
  </div>
</section>
