
@import "bourbon/bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";

@media (max-width: 600px) {
  .post-item {
    background-color: #222831;
  }
  .site-header {
    margin-bottom: 0;
    min-height: 0;
}
